.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.top {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.left {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.right {
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.sock {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    transition: all 500ms ease;
}

.sock:focus {
    outline: none;
}